body {
  width: 700px;
  margin: 0 auto;
  color: #7f7f7f;
  background-color: #1a1a1a;
  font-family: corbel, 'lucida grande', Helvetica;
  font-size: 12pt;
  
  /* color: #c8c8c8; */
  /* background-color: #333; */
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia;
  color: #c8c8c8;
  letter-spacing: 1px;
}

a {
  color: #7f7faf;
}

code {
  font-family: Monaco;
  font-size: 10pt;
  color: #8f8f8f;
}

